:root{
    /*Backgound colors*/
    --background-color-1:#a89e9efe;
    /* Background*/
    
}
button{
    background-color: aliceblue;
    padding:5px;
    font-weight: bold;
    outline: none;
    transition: ease-in-out;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.01);
    background-color: rgb(182, 195, 207);
}